Library/*
!Library/com.unity.addressables
Library/com.unity.addressables/AddressablesBuildTEP.json
Logs/
obj/
Temp/
hooks/
lfs/
.vs/Bicycle_Client/v15/.suo
.vs/Bicycle_Client/v15/Server/sqlite3/storage.ide-shm
.vs/Bicycle_Client/v15/Server/sqlite3/storage.ide-wal
.vs/Bicycle_Client/v16/.suo
.vs/Bicycle_Client/v16/Server/sqlite3/storage.ide
.vs/Bicycle_Client/v16/Server/sqlite3/db.lock
.vs/
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
*.csproj
*.sln
ProjectSettings/AndroidLogcatSettings.asset
UserSettings/AndroidLogcatSettings.asset
